@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Nunito:wght@300&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  color: #1B1A1A;
}

nav {
  background-color: #D3CBC5;
  width: 100%;
  height: 100%;
  max-height: 80px;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .nav-main {
  width: 100%;
  height: 100%;
  max-width: 1112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-main .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 525px;
  list-style: none;
}
nav .nav-main .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 70px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-desktop {
  width: 100%;
  height: 100%;
  min-height: 821px;
  background: url("../photo/main-room.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-desktop .desktop {
  padding-left: 183px;
  position: relative;
}
body .main-desktop .desktop h3 {
  font-size: 16px;
  font-weight: 400;
  color: #2C314B;
}
body .main-desktop .desktop h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
body .main-desktop .desktop h2 {
  color: #121211;
  font-weight: 400;
  font-size: 24px;
  margin-top: 15px;
}
body .main-desktop .desktop span {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
}
body .main-desktop .desktop button {
  background: url("../photo/black-button.png");
  color: #FFFFFF;
  border: none;
  width: 133px;
  height: 55px;
  margin-left: -5px;
  margin-top: 28px;
}
body .main-desktop img {
  position: absolute;
  margin-top: -100px;
  margin-left: 135px;
}