@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Nunito:wght@300&display=swap");
body, nav .nav-main, nav {
  width: 100%;
  height: 100%;
}

* {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  color: #1B1A1A;
}

nav {
  background-color: #D3CBC5;
  max-height: 80px;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
nav .nav-main {
  padding-left: 30px;
  max-width: 1112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-main .nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 525px;
  list-style: none;
}
nav .nav-main .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 70px;
}
nav .burger-menu {
  opacity: 0;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}
body .main-desktop {
  width: 100%;
  height: 100%;
  min-height: 821px;
  background: url("../photo/main-room.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-desktop .desktop {
  padding-left: 183px;
  position: relative;
  z-index: 2;
}
body .main-desktop .desktop h3 {
  font-size: 16px;
  font-weight: 400;
  color: #2C314B;
}
body .main-desktop .desktop h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
body .main-desktop .desktop h2 {
  color: #121211;
  font-weight: 400;
  font-size: 24px;
  margin-top: 15px;
}
body .main-desktop .desktop span {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
}
body .main-desktop .desktop button {
  background: url("../photo/black-button.png");
  color: #FFFFFF;
  border: none;
  width: 133px;
  height: 55px;
  margin-left: -5px;
  margin-top: 28px;
}
body .main-desktop img {
  position: absolute;
  margin-top: -100px;
  margin-left: 135px;
  z-index: 3;
}
body .best-new-arrivals {
  width: 100%;
  height: 100%;
  max-width: 1110px;
  min-height: 862px;
  margin-top: 100px;
}
body .best-new-arrivals .text-arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
body .best-new-arrivals .text-arrivals__item1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .best-new-arrivals .text-arrivals__item1 hr {
  width: 55px;
  height: 1px;
  background-color: #9A6437;
}
body .best-new-arrivals .text-arrivals__item1 h1 {
  padding-left: 10px;
  color: #9A6437;
  font-weight: 400;
}
body .best-new-arrivals .text-arrivals__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 21px;
}
body .best-new-arrivals .text-arrivals__item2 h1 {
  font-weight: 400;
  font-size: 42px;
}
body .best-new-arrivals .text-arrivals__item2 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 369px;
  font-weight: 400;
  font-size: 16px;
}
body .best-new-arrivals .text-arrivals__item2 ul li:hover {
  background-color: #1C1B1B;
  padding-left: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 19px;
  color: #FFFFFF;
}
body .arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
body .arrivals .item {
  width: 255px;
  height: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}
body .arrivals .item__img {
  width: 100%;
  height: 241px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
}
body .arrivals .item__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1C1B1B;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
}
body .arrivals .item__menu .menu-logo {
  width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .arrivals .item h1 {
  color: #282828;
  font-weight: 600;
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 9px;
}
body .arrivals .item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
body .arrivals .item__price p {
  color: #1E1D1D;
  font-size: 15px;
  font-weight: 400;
}
body .arrivals .item__price span {
  color: #737373;
  text-decoration: line-through;
}
body .arrivals .item__price .stars-price {
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.words-of-clients {
  margin-top: 90px;
  width: 100%;
  height: 100%;
  min-height: 700px;
  background: url("../photo/words-background.png") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.words-of-clients .what-say {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 276px;
}
.words-of-clients .what-say hr {
  background-color: #E0E0E0;
  height: 1px;
  width: 55px;
}
.words-of-clients .what-say h1 {
  color: #E0E0E0;
}
.words-of-clients h2 {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 42px;
  margin-top: 21px;
  margin-bottom: 132px;
}
.words-of-clients .words {
  width: 100%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.words-of-clients .words .words-item {
  width: 255px;
  height: 314px;
  background-color: #FFFFFF;
  border: 1px solid #9A6437;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.words-of-clients .words .words-item__ava {
  margin-top: -47px;
}
.words-of-clients .words .words-item h1 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 400;
  color: #1B1A1A;
  margin-bottom: 6px;
}
.words-of-clients .words .words-item h3 {
  color: #999999;
  font-weight: 400;
  margin-bottom: 3px;
}
.words-of-clients .words .words-item__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  margin-bottom: 7px;
}
.words-of-clients .words .words-item hr {
  width: 222px;
  height: 1px;
  margin-bottom: 7px;
}
.words-of-clients .words .words-item p {
  text-align: center;
  color: #999999;
  line-height: 24px;
}
.words-of-clients .words .words-item:hover {
  margin-top: -80px;
}

@media (max-width: 1026px) {
  .words-item {
    margin-top: 50px;
  }
}
@media (max-width: 769px) {
  * {
    font-size: 14px;
  }
  body .main-desktop .desktop {
    padding-left: 108px;
  }
  body .main-desktop .desktop h1 {
    font-size: 40px;
    line-height: 50px;
  }
  body .main-desktop .desktop h2 {
    color: #121211;
    font-weight: 400;
    font-size: 24px;
  }
  body .main-desktop .lines-img {
    margin-top: -100px;
    margin-left: 60px;
  }
  body .best-new-arrivals .text-arrivals__item2 h1 {
    font-size: 32px;
  }
  body .words-of-clients .what-say {
    margin-top: 20px;
  }
  body .words-of-clients .what-say hr {
    background-color: #E0E0E0;
    height: 1px;
    width: 55px;
  }
  body .words-of-clients h2 {
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 0px;
  }
}
@media (max-width: 600px) {
  * {
    font-size: 14px;
  }
  nav .nav-main .nav-ul {
    max-width: 380px;
  }
  nav .nav-main .nav-logo {
    max-width: 60px;
  }
  body .main-desktop .desktop {
    padding-left: 68px;
  }
  body .main-desktop .desktop .desktop-h1 {
    font-size: 35px;
    line-height: 45px;
  }
  body .main-desktop .desktop h2 {
    color: #121211;
    font-weight: 400;
    font-size: 20px;
  }
  body .main-desktop .desktop button {
    margin-top: 15px;
  }
  body .main-desktop .lines-img {
    margin-top: -100px;
    margin-left: 20px;
  }
  body .best-new-arrivals .text-arrivals__item2 {
    width: 100%;
    margin-top: 21px;
  }
  body .best-new-arrivals .text-arrivals__item2 .arrivals-h1 {
    font-size: 30px;
  }
  body .best-new-arrivals .text-arrivals__item2 ul {
    max-width: 250px;
    font-size: 16px;
  }
  body .words-of-clients .what-say {
    margin-top: 20px;
  }
  body .words-of-clients h2 {
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 0px;
  }
}
@media (max-width: 529px) {
  body .best-new-arrivals .text-arrivals__item2 .arrivals-h1 {
    font-size: 27px;
    padding-left: 15px;
  }
  body .best-new-arrivals .text-arrivals__item2 ul {
    max-width: 250px;
    font-size: 16px;
  }
  body .arrivals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 512px) {
  * {
    font-size: 12px;
  }
  nav .nav-main .nav-ul {
    max-width: 300px;
  }
  nav .nav-main .nav-logo {
    max-width: 50px;
  }
  body .words-of-clients .words {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .best-new-arrivals .text-arrivals__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 13px;
  }
  body .best-new-arrivals .text-arrivals__item2 ul {
    padding-left: 15px;
    padding-top: 5px;
  }
}
@media (max-width: 430px) {
  nav .nav-main .nav-ul {
    opacity: 0;
    width: 0px;
  }
  nav .nav-main .nav-logo {
    opacity: 0%;
    width: 0px;
  }
  nav .burger-menu {
    padding-right: 30px;
    opacity: 100%;
  }
  body .main-desktop .desktop {
    padding-left: 23px;
  }
  body .main-desktop .desktop .desktop-h1 {
    font-size: 27px;
    line-height: 30px;
  }
  body .main-desktop .desktop h2 {
    font-size: 14px;
    margin-top: 5px;
  }
  body .main-desktop .desktop button {
    margin-top: 11px;
  }
  body .main-desktop .lines-img {
    margin-top: -12px;
    margin-left: -18px;
  }
  .words-of-clients .words-h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  body .words-of-clients .words-h2 {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}