@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Nunito:wght@300&display=swap');
$black_color: #1B1A1A;
%size {
    width: 100%;
    height: 100%;
}


* {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    color: $black_color;
}

nav {
    background-color: #D3CBC5;
    @extend %size;
    max-height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .nav-main {
        padding-left: 30px;
        @extend %size;
        max-width: 1112px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .nav-ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 525px;
            list-style: none;
        }

        .nav-logo {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 70px;
        }
    }

    .burger-menu {
        opacity: 0;
    }
}

body {
    @extend %size;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    

    .main-desktop {
        width: 100%;
        height: 100%;
        min-height: 821px;
        background: url('../photo/main-room.png') center/cover no-repeat;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .desktop {
            padding-left: 183px;
            position: relative;
            z-index: 2;
            h3 {
                font-size: 16px;
                font-weight: 400;
                color: #2C314B;
            }

            h1 {
                font-size: 50px;
                font-weight: 600;
                line-height: 60px;
            }

            h2 {
                color: #121211;
                font-weight: 400;
                font-size: 24px;
                margin-top: 15px;
            }

            span {
                color: #878787;
                font-size: 16px;
                font-weight: 400;
            }

            button {
                background: url('../photo/black-button.png');
                color: #FFFFFF;
                border: none;
                width: 133px;
                height: 55px;
                margin-left: -5px;
                margin-top: 28px;
            }
        }

        img {
            position: absolute;
            margin-top: -100px;
            margin-left: 135px;
            z-index: 3;
        }
    
        
    }

    .best-new-arrivals {
        width: 100%;
        height: 100%;
        max-width: 1110px;
        min-height: 862px;
        margin-top: 100px;


        .text-arrivals {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;



            &__item1 {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                hr {
                    width: 55px;
                    height: 1px;
                    background-color: #9A6437;
                }

                h1 {
                    padding-left: 10px;
                    color: #9A6437;
                    font-weight: 400;
                }
            }

            &__item2 {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 21px;

                h1 {
                    font-weight: 400;
                    font-size: 42px;
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    max-width: 369px;
                    font-weight: 400;
                    font-size: 16px;

                    li:hover {
                        background-color: #1C1B1B;
                        padding-left: 19px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        padding-right: 19px;
                        color: #FFFFFF;
                    }
                }
            }

        }
    }

        //Цены
        .arrivals {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
            padding-left: 10px;
            padding-right: 10px;

            .item {
                width: 255px;
                height: 345px;
                display: flex;
                flex-direction: column;
                margin-top: 35px;

                &__img {
                    width: 100%;
                    height: 241px;
                    background-color: #F7F7F7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 16px;
                }

                &__menu {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    background-color: #1C1B1B;
                    width: 100%;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    .menu-logo {
                        width: 88px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }

                h1 {
                    color: #282828;
                    font-weight: 600;
                    font-size: 18px;
                    margin-top: 6px;
                    margin-bottom: 9px;
                }

                &__price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    p {
                        color: #1E1D1D;
                        font-size: 15px;
                        font-weight: 400;
                    }

                    span {
                        color: #737373;
                        text-decoration: line-through;
                    }

                    .stars-price {
                        width: 85px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    .words-of-clients {
        margin-top: 90px;
        width: 100%;
        height: 100%;
        min-height: 700px;
        background: url('../photo/words-background.png') center/cover no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .what-say {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 276px;

            hr {
                background-color: #E0E0E0;
                height: 1px;
                width: 55px;
            }

            h1 {
                color: #E0E0E0;
            }
        }

        h2 {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 42px;
            margin-top: 21px;
            margin-bottom: 132px;
        }

        .words {
            width: 100%;
            max-width: 1110px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;         

            .words-item {
                width: 255px;
                height: 314px;
                background-color: #FFFFFF;
                border: 1px solid #9A6437;
                display: flex;
                align-items: center;
                flex-direction: column;
                
                

                &__ava {
                    margin-top: -47px;
                }

                h1 {
                    margin-top: 16px;
                    font-size: 24px;
                    font-weight: 400;
                    color: #1B1A1A;
                    margin-bottom: 6px;
                }

                h3 {
                    color: #999999;
                    font-weight: 400;
                    margin-bottom: 3px;
                }

                &__stars {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 45px;
                    margin-bottom: 7px;
                }

                hr {
                    width: 222px;
                    height: 1px;
                    margin-bottom: 7px;
                }

                p {
                    text-align: center;
                    color: #999999;
                    line-height: 24px;
                }
                
                &:hover {
                margin-top: -80px;
            }

            }
            
        }

        
    }



@media (max-width: 1026px) {
    .words-item {
        margin-top: 50px;
    }
    
    
}

@media (max-width: 769px) {
    * {
        font-size: 14px;
    }

    body {
        .main-desktop {
            .desktop {
                padding-left: 108px;  
    
                h1 {
                    font-size: 40px;
                    line-height: 50px;
                }
    
                h2 {
                    color: #121211;
                    font-weight: 400;
                    font-size: 24px;
                }

            }
        
            .lines-img {
                margin-top: -100px;
                margin-left: 60px;
            }
        }

        .best-new-arrivals {
            
            .text-arrivals { 
                &__item2 {
                    h1 {
                        font-size: 32px;
                    }
                }
            }
        }
        .words-of-clients {  
            .what-say {  
                margin-top: 20px;
                hr {
                    background-color: #E0E0E0;
                    height: 1px;
                    width: 55px;
                }

            }
    
            h2 {
                font-size: 36px;
                margin-top: 16px;
                margin-bottom: 0px;
            }

        }
    
            
    }
    
    
}

@media (max-width: 600px) {
    * {
        font-size: 14px;
    }

    nav {
    
        .nav-main {
            .nav-ul {
                max-width: 380px;
            }
    
            .nav-logo {
                max-width: 60px;
            }
        }
    }

    body {
        .main-desktop {
            .desktop {
                padding-left: 68px;  
    
                .desktop-h1 {
                    font-size: 35px;
                    line-height: 45px;
                }
    
                h2 {
                    color: #121211;
                    font-weight: 400;
                    font-size: 20px;
                }

                button {
                    margin-top: 15px;
                }

            }
        
            .lines-img {
                margin-top: -100px;
                margin-left: 20px;
            }
        }

        .best-new-arrivals {
            
            .text-arrivals { 
                &__item2 {
                    width: 100%;
                    margin-top: 21px;
                    
    
                    .arrivals-h1 {
                        font-size: 30px;
                    }
    
                    ul {
                        max-width: 250px;
                        font-size: 16px;
                    }
                }
            }
        }
        .words-of-clients {  
            .what-say {  
                margin-top: 20px;
            }
    
            h2 {
                font-size: 36px;
                margin-top: 16px;
                margin-bottom: 0px;
            }
        }    
    }
}

@media (max-width: 529px) {
    body {
        .best-new-arrivals {  
            .text-arrivals { 
                &__item2 {
                    .arrivals-h1 {
                        font-size: 27px;
                        padding-left: 15px;
                    }

                    ul {
                        max-width: 250px;
                        font-size: 16px;
                    }
                }
            }
        }

        .arrivals {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 512px) {
    * {
        font-size: 12px;
    }

    nav {
        .nav-main {       
            .nav-ul {
                max-width: 300px;
            }
    
            .nav-logo {
                max-width: 50px;
            }
        }
    }

    body {
        .words-of-clients {
            .words {
                display: flex;
                justify-content: center;
                flex-direction: column;    
                align-items: center;    
            }
        }

        .best-new-arrivals {
            .text-arrivals {
                &__item2 {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-top: 13px;

                    ul {
                        padding-left: 15px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    nav {   
        .nav-main {
            

            .nav-ul {
                opacity: 0;
                width: 0px;
            }
    
            .nav-logo {
                opacity: 0%;
                width: 0px;
            }
        }
    
        .burger-menu {
            padding-right: 30px;
            opacity: 100%;
        }
    }

    body {
        .main-desktop {
            .desktop {
                padding-left: 23px;  
    
                .desktop-h1 {
                    font-size: 27px;
                    line-height: 30px;
                }
    
                h2 {
                    font-size: 14px;
                    margin-top: 5px;
                }
    
                button {
                    margin-top: 11px;
                }
            }
        
            .lines-img {
                margin-top: -12px;
                margin-left: -18px;
            }
        }
    }

    .words-of-clients {
        .words-h2 {
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 320px) {
    body {
        .words-of-clients {
            .words-h2 {
                font-size: 28px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
}